.cls1{
    height: 50vh;
    background-image: url(portfolio.jpg);
    background-size:cover;
    background-position:center;
    opacity: 0.5px;
}
ul li{
        list-style: none;
        display:inline-block;
        margin-left: 20px;
}
ul li a{
    color:black;
    text-decoration: none;
}
h1{
    color:black;
    margin-top: 5vh;
}
.text-align{
    text-align: center;
}
ul li a:hover{
    color: lightgray;
}
ul li i:hover{
    color: lightgray;
    box-shadow: 0px 0px 6px 4px lightgray;
}
.cls3{  
    font-size: 20px;
}
.cls2{
    margin-top: 5vh;
    margin-left: -70px;
}
.profile{
    margin-top: -28vh;
    border-radius: 5px 5px 10px;
}
img{
    width:200px;
    height:200px;
    border-radius: 50%;
}
section:nth-child(2n){
    background-color: white;
    height: 60%;
    width: 100%;
}
section:nth-child(2n+1){
    background-color: lightgray;
    height: 62%;
    width: 100%;
}
main>section{
    margin-top: -3vh;
}
.skill-heading{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 250%;
}
.skill-progress{
    width:100%;
    height:75%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.skill-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.skill-div1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.skill-div2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.skill1{
    width:15rem;
    height: 2.5rem;
    background-color:lightgray;
    border-radius: 50px;
    border:1px solid rgb(160, 156, 156);
}
.skill2{
    width:15rem;
    height: 2.5rem;
    background-color:lightgray;
    border-radius: 50px;
    border:1px solid rgb(160, 156, 156);
}
.skill3{
    width:15rem;
    height: 2.5rem;
    background-color:lightgray;
    border-radius: 50px;
    border:1px solid rgb(160, 156, 156);
}
.skill4{
    width:15rem;
    height: 2.5rem;
    background-color:lightgray;
    border-radius: 50px;
    border:1px solid rgb(160, 156, 156);
}
.skill5{
    width:15rem;
    height: 2.5rem;
    background-color:lightgray;
    border-radius: 50px;
    border:1px solid rgb(160, 156, 156);
}
.skill6{
    width:15rem;
    height: 2.5rem;
    background-color:lightgray;
    border-radius: 50px;
    border:1px solid rgb(160, 156, 156);
}
.skill7{
    width:15rem;
    height: 2.5rem;
    background-color:lightgray;
    border-radius: 50px;
    border:1px solid rgb(160, 156, 156);
}
.skill8{
    width:15rem;
    height: 2.5rem;
    background-color:lightgray;
    border-radius: 50px;
    border:1px solid rgb(160, 156, 156);
}
.skill9{
    width:15rem;
    height: 2.5rem;
    background-color:lightgray;
    border-radius: 50px;
    border:1px solid rgb(160, 156, 156);
}
.perc1{
    width:80%;
    height:100%;
    background-color: blue;
    border-radius: 50px;
    text-align:center;
}
.perc2{
    width:60%;
    height:100%;
    background-color: aqua;
    border-radius: 50px;
    text-align:center;
}
.perc3{
    width:90%;
    height:100%;
    background-color:brown;
    border-radius: 50px;
    text-align:center;
}
.perc4{
    width:90%;
    height:100%;
    background-color: green;
    border-radius: 50px;
    text-align:center;
}
.perc5{
    width:45%;
    height:100%;
    background-color:yellowgreen;
    border-radius: 50px;
    text-align:center;
}
.perc6{
    width:70%;
    height:100%;
    background-color:red;
    border-radius: 50px;
    text-align:center;
}
.perc7{
    width:85%;
    height:100%;
    background-color: cyan;
    border-radius: 50px;
    text-align:center;
}
.perc8{
    width:75%;
    height:100%;
    background-color: orange;
    border-radius: 50px;
    text-align:center;
}
.perc9{
    width:50%;
    height:100%;
    background-color: tomato;
    border-radius: 50px;
    text-align:center;
}
.Experience-heading{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 250%;
}
.experience-content{
    margin-top: -66px;
    width: 80%;
    height: 78%;
    margin-left: 148px;
    position: relative;
    font-size: 20px;
}
.timeline-box{
    width: 40%;
    min-height: 100px;
    position: relative;
    margin: 10px;
}
.experience-content div:nth-child(2n){
    margin-left:55%;
}
.experience-content div:nth-child(2n+1){
    margin-left: 60px;
}
@media screen and (max-width:800px){
    .experience-content div:nth-child(2n){
        margin-left:8%;
    }
}
@media screen and (min-width:200px) {
    .experience-content div:nth-child(2n+1){
        margin-left: 8%;
    }
}
.experience-content div ul li::before{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-image: url(astrik.png);
}
.timeline-divider{
    position: absolute;
    height: 98%;
    width: 0;
    border: 2px dashed rgb(117, 105, 225);
    top: 1%;
    left: 0%;
}
.timeline-divider img{
    position: sticky;
    top: 1.5%;
    margin-left: -9px;
    width: 20px;
    height: 20px;
}
.timeline-box:nth-child(2n):after{
    content: '';
    background-color: lightgray;
    width: 1rem;
    height: 1rem;
    top: 5%;
    right: 98%;
    position: absolute;
    border-radius: 80%;
}
.timeline-box:nth-child(2n+1):before{
    content: '';
    background-color: lightgray;
    width: 1rem;
    height: 1rem;
    top: 5%;
    left: 115%;
    position: absolute;
    border-radius: 100%;
}
@media screen and (max-width:1500px) {
    .timeline-box:nth-child(2n+1):before{
        content: '';
        background-color: lightgray;
        width: 1rem;
        height: 1rem;
        top: 5%;
        left: 115%;
        position: absolute;
        border-radius: 100%;
    }
}
@media screen and (max-width:800px) {
    .timeline-box:nth-child(2n+1):before{
        content: '';
        background-color: lightgray;
        width: 1rem;
        height: 1rem;
        top: 5%;
        left: -7%;
        position: absolute;
        border-radius: 100%;
    }
}
.edu li{
    display: block;
    padding: 10px;
    list-style: square;
}
#about-section{
    font-size: 25px;
}
#education{
    font-size: 18px;
}
#portfolio{
    font-size: 20px;
}
.pcls{
    font-size: 50px;
    font-weight: bold;
}
.pcls2:nth-child(2n){
    margin-left: 70px;
}
hr{
    margin-top: 180px;
}
.pa{
    font-size: 30px;
    text-decoration: none;
    color: black;
}
.pa:hover{
    color: blue;
}
a{
    color: black;
}